<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
  <style>
    .card {
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        padding: 50px;
        width: 700px;
        margin: auto;
        font-family: 'Poppins', sans-serif;
    }

    .logo {
        width: 100%;
        text-align: center;
        margin-bottom: 70px;
    }

    .logo .img {
        width: 350px;
        height: auto;
        margin: 0 auto;
    }

    .header {
    text-align: center;
    margin-top: 20px;
    }

    .sub-header {
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .divider {
        border-top: 3px solid green;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .table-container {
        display: flex;
        justify-content: center;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

    td,
    th {
        border-bottom: 1px solid gray;
    }

    .table td {
        padding: 10px;
        font-size: 18px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
    }

    td:first-child {
        text-align: left;
    }

    td:last-child {
        text-align: right;
    }

    h1 {
        font-size: 52px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }

    h2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }

    .title {
        margin-top: 50px;
        font-size: 20px;
        font-weight: 600;
        line-height: 0px;
        letter-spacing: 0em;
        text-align: left;
    }
  </style>
  <title>Document</title>
</head>

<body>
  <div class="card">
    <div class="logo">
    </div>
    <h1 class="header">भुक्तानी प्राप्त भएको छ ।</h1>
    <h2 class="sub-header"><%= username %>, हामीले तपाईंको रु. <%= paymentAmt ? paymentAmt : '१०००' %>/- भुक्तानीप्राप्त गरेका छौं ।</h2>
    <p class="title">भुक्तानी विवरण</p>
    <hr class="divider">
    <div class="table-container">
      <table class="table">
        <tr>
          <td>भुक्तानी मिति र समय</td>
          <td><%= paymentDate %></td>
        </tr>
        <tr>
          <td>भुक्तानी प्रकार</td>
          <td><%= paymentType %></td>
        </tr>
        <tr>
          <td>भुक्तानी विधि</td>
          <td><%= paymentMethod %></td>
        </tr>
        <% if(paymentMethod.toLowerCase() == 'online') { %>
        <tr>
          <td>भुक्तानी गेटवे</td>
          <td><%= paymentGateway ? paymentGateway : 'N/A' %></td>
        </tr>
        <% } %>
        <tr>
          <td>प्रयोगकर्ता</td>
          <td><%= mobileNumber  %></td>
        </tr>
        <tr>
          <td>कारोबार आईडी</td>
          <td><%= transactionId ? transactionId : 'N/A' %></td>
        </tr>
      </table>
    </div>
  </div>

</body>

</html>